<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <script type="text/javascript" th:src="@{https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js}"></script>
    <link th:href="@{https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet" />
    <link th:href="@{/css/default.css}" rel="stylesheet" />
    <link rel="icon" th:href="@{/images/favicon.ico}" type="image/x-icon" />
    <meta charset="UTF-8" />
    <title>Coupon Templates</title>
    <style>
        .center {
            text-align: center;
        }

        table,
        td,
        th {
            text-align: center;
        }
    </style>
</head>

<body>
    <div class="contentDiv">

        <h2 class="center"> Coupon Templates

            <legend>
                <strong class="center">Creating Coupon Templates</strong>
            </legend>

            <form th:action="@{/template/thy/{action}(action=${action})}" method="post" class="form-horizontal">

                <div class="form-group">
                    <label for="name" class="col-sm-2 control-label">Coupon Name:</label>
                    <div class="col-xs-4">
                        <input type="text" class="form-control" id="name" name="name" th:value="${template.name}"
                            th:field="*{template.name}" />
                    </div>
                </div>

                <div class="form-group">
                    <label for="logo" class="col-sm-2 control-label">logo:</label>
                    <div class="col-xs-4">
                        <input type="text" class="form-control" id="logo" name="name" th:value="${template.logo}"
                            th:field="*{template.logo}" />
                    </div>
                </div>

                <div class="form-group">
                    <label for="desc" class="col-sm-2 control-label">Descriptive Information:</label>
                    <div class="col-xs-4">
                        <input type="text" class="form-control" id="desc" name="name" th:value="${template.desc}"
                            th:field="*{template.desc}" />
                    </div>
                </div>

                <div class="form-group">
                    <label for="category" class="col-sm-2 control-label">Coupon Type:</label>
                    <div class="col-xs-4">
                        <select class="form-control" name="category">
                            <option th:each="category:${session.category}" th:value="${category.code}"
                                th:text="${ category.description }"></option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label for="productLine" class="col-sm-2 control-label">Product Lines:</label>
                    <div class="col-xs-4">
                        <select class="form-control" name="productLine">
                            <option th:each="productLine:${session.productLine}" th:value="${productLine.code}"
                                th:text="${ productLine.description }"></option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label for="count" class="col-sm-2 control-label">Total Count:</label>
                    <div class="col-xs-4">
                        <input type="text" class="form-control" id="count" name="name" th:value="${template.count}"
                            th:field="*{template.count}" />
                    </div>
                </div>

                <div class="form-group">
                    <label for="userId" class="col-sm-2 control-label">Create User:</label>
                    <div class="col-xs-4">
                        <input type="text" class="form-control" id="userId" name="writer" th:value="${template.userId}"
                            th:field="*{template.userId}" />
                    </div>
                </div>

                <div class="form-group">
                    <label for="target" class="col-sm-2 control-label">Distribution targets:</label>
                    <div class="col-xs-4">
                        <select class="form-control" name="target">
                            <option th:each="target:${session.target}" th:value="${target.code}"
                                th:text="${ target.description }"></option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label for="period" class="col-sm-2 control-label">Validity Rules:</label>
                    <div class="col-xs-4">
                        <select class="form-control" name="period">
                            <option th:each="period:${session.period}" th:value="${period.code}"
                                th:text="${ period.description }"></option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label for="gap" class="col-sm-2 control-label">Effective Interval:</label>
                    <div class="col-xs-4">
                        <input type="text" class="form-control" id="gap" name="writer" th:value="${template.gap}"
                            th:field="*{template.gap}" />
                    </div>
                </div>

                <div class="form-group">
                    <label for="deadline" class="col-sm-2 control-label">Expiry Date:</label>
                    <div class="col-xs-4">
                        <input type="text" class="form-control" id="deadline" name="writer"
                            th:value="${template.deadline}" th:field="*{template.deadline}" />
                    </div>
                </div>

                <div class="form-group">
                    <label for="quota" class="col-sm-2 control-label">Concessionary Rate:</label>
                    <div class="col-xs-4">
                        <input type="text" class="form-control" id="quota" name="writer" th:value="${template.quota}"
                            th:field="*{template.quota}" />
                    </div>
                </div>

                <div class="form-group">
                    <label for="base" class="col-sm-2 control-label">Base:</label>
                    <div class="col-xs-4">
                        <input type="text" class="form-control" id="base" name="writer" th:value="${template.base}"
                            th:field="*{template.base}" />
                    </div>
                </div>

                <div class="form-group">
                    <label for="limitation" class="col-sm-2 control-label">Limitations on the number of sheets to be
                        picked up:</label>
                    <div class="col-xs-4">
                        <input type="text" class="form-control" id="limitation" name="writer"
                            th:value="${template.limitation}" th:field="*{template.limitation}" />
                    </div>
                </div>

                <div class="form-group">
                    <label for="province" class="col-sm-2 control-label">Provincial limitations on receipt:</label>
                    <div class="col-xs-4">
                        <input type="text" class="form-control" id="province" name="writer"
                            th:value="${template.province}" th:field="*{template.province}" />
                    </div>
                </div>

                <div class="form-group">
                    <label for="city" class="col-sm-2 control-label">City Limits for Pickup:</label>
                    <div class="col-xs-4">
                        <input type="text" class="form-control" id="city" name="writer" th:value="${template.city}"
                            th:field="*{template.city}" />
                    </div>
                </div>

                <div class="form-group">
                    <label for="goodsType" class="col-sm-2 control-label">Supported Product Types:</label>
                    <div class="col-xs-4">
                        <input th:each="type:${session.goodsType}" type="checkbox" th:value="${type.code}"
                            th:field="*{template.goodsType}"
                            th:checked="${#lists.contains(template.goodsType, type.code)}"
                            th:text="${type.description}">
                    </div>
                </div>

                <div class="form-group">
                    <label for="weight" class="col-sm-2 control-label">Weights:</label>
                    <div class="col-xs-4">
                        <input type="text" class="form-control" id="weight" name="writer" th:value="${template.weight}"
                            th:field="*{template.weight}" />
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-10">
                        <input class="btn btn-primary" type="submit" value="Submit" />&nbsp;&nbsp;
                        <input class="btn" type="button" value="Return" onclick="history.back()" />
                    </div>
                </div>

            </form>
    </div>
</body>

</html>